*.iml
/.idea
application.yml
*.log
/crm-api-common/target
/crm-common/target
/crm-base-common/target
/crm-web/target
/crm-web-starter/target
/crm-web-common/target
/crm-customer-api/target
/crm-customer-api-autoconfigure/target
/crm-customer-server/target
/crm-customer-server-starter/target



# Created by .gitignore support plugin (hsz.mobi)
*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
.mine/
logs/
dubbo.properties
dependency-reduced-pom.xml
*.rdb
*.gz
*apidocs/
*.versionsBackup
*.perm
flyway.properties
_book/
site/
application-junit.yml
*/application.yml
*-http.json
*-dubbo.json
.gitattributes